﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is example app built for Cloud Platforms laboratories with with ASP.NET Core.</p>
</div>
